.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &:disabled {
    background-color: #c7c7c7;
    color: rgb(44, 44, 44);
  }

  &--primary {
    color: white;
    background-color: #1ea7fd;

    &:disabled {
      color: rgb(201, 201, 201);
      background-color: #1989cf;
    }
  }

  &--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

    &:disabled {
      color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
